{% extends 'base.html' %}
{% load static %}
{% block lowerjs %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script><!-- <script src="{% static 'js/details.js' %}"" type="text/jsvascript" async="false"></script> -->
<script type="text/javascript">
function showDetails(id)
{ 
    $.ajax({
        method:"get",
        contentType: "application/json",
        url:"/detailstask/"+parseInt(id),
        dataType:"json",
        success:function(data)
        {
            console.log(data)
            $('.row .col-md-6:nth-child(2)').html(data.html)
        },
        error:function(jqXHR, textStatus, errorThrown)
        {
            alert(textStatus);
        }
    });
}
</script>
{% endblock %}
{% block container%}
<form name="addtask" action="" novalidate method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="create task"/>
</form>
<div class="row">
    <div class="col-md-6">
        {% for task in tasks %}
            <div class="row">
                <div class="col-md-2">{{ task.taskname }}</div>
                <div class="col-md-2">{{ task.notes }}</div>
                <div class="col-md-2"><a href="javscript:void(0);" onclick="showDetails({{ task.id }});">Details view</a></div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-6"></div>
<div>
{% endblock %}


